.lastfm-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
}

.lastfm-user {
    margin-bottom: 15px;
}

.lastfm-tracklist {
    margin-bottom: 10px;
}

.lastfm-tracklist:last-child {
    margin-bottom: 0;
}

.lastfm-row small {
    font-size: 11px;
}

.lastfm-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 1;
}

.lastfm-col-quarter {
    -webkit-box-flex:0;
        -ms-flex:0 0 25%;
            flex:0 0 25%;
    margin-right: 20px;
}

.lastfm-col-twenty {
    -webkit-box-flex:0;
        -ms-flex:0 0 20%;
            flex:0 0 20%;
    margin-right: 10px;
}

.lastfm-col-center {
    -ms-flex-item-align: center;
        align-self: center;
}
